.medea {
  background-image: url("../img/medea.jpg");

  &:hover {
    background-color: $salmon;
    background-image: none;
  }
}

.blackjack {
  background-image: url("../img/blackjack.png");
}

.sound-wave {
  background-image: url("../img/audio.png");
}

.cetav {
  background-image: url("../img/cetav.png");
}

.medea,
.blackjack {
  &:hover {
    background-color: $salmon;
    background-image: none;
    transition: all 0.3s ease-out;
  }
}

.sound-wave,
.cetav {
  &:hover {
    background-color: $yellow;
    background-image: none;
    transition: all 0.3s ease-out;
  }
}

.projects-items {

  @include query(600px){
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 90%;
  }
}

.project {
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  font-family: $font-family-text;
  font-size: $font-size-regular;
  height: 50vh;
  margin: 0 auto;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 90%;

  @include query(600px){
        width: 32%;
   }
}

.project .title {
  left: 25px;
  padding: 2rem 1.5rem 2rem;
  position: absolute;
  top: 58%;
}

.project .title:before,
.project .title:after {
  background-color: $white;
  content: '';
  height: 2px;
  position: absolute;
  width: 40rem;
}

.project .title:before {
  left: 1rem;
  top: 0;
}

.project .title:after {
  bottom: 0;
  right: 1rem;
}

.project .title div:before,
.project .title div:after {
  background-color: $white;
  content: '';
  height: 300px;
  position: absolute;
  width: 2px;
}

.project .title div:before {
  top: 1rem;
  right: 0;
}

.project .title div:after {
  bottom: 10px;
  left: 0;
}

.project h2 {
  margin: 0;
  text-transform: uppercase;
}

.project h2 {
  font-weight: 400;
}

.project h6 {
  background-color: $white;
  display: block;
  color: $black;
  font-weight: 700;
  padding: 5px 10px;
}

.project a {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}